body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h1 {
	text-align: center;
	margin-bottom: 1em;
}

a {
  color: #00B7FF;
}

.spark-panel{
	width: 45%;
	float: left;
}

.flink-panel{
	width: 45%;
	float: right;
}

td {
	padding-right: 15px;
	text-align: right;
}

.list-group-item > img{
	padding-right: 10px;
	float: left;
	height: 100%;
	width: auto;
}


.list-group-item{
	margin-bottom: 10px;
	height: 10em;
}
